.image {
  width: 400px;
  height: 200px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.imageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
