.header {
  padding: 15px;
  margin-top: 0%;
  margin-bottom: 0%;
  -webkit-text-stroke: 2px black;
  color: turquoise;
  background-color:lavender;
  border-bottom: 1px solid blanchedalmond;
  font-style: oblique;

}
