.instructionsOutline {
  margin-top: 40px;
  width: 400px;
  height: 450px;
  border: 2px solid #000000;
  margin-right: 30px;
  margin-left: 30px;
  font-style: italic;
  background-color: #95d5b2;
  padding: 20px;
  text-align: left;
}
