:root {
  --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

form {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.qaOutLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 900px;
  height: 600px;
}

.qaButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.optionValue {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  padding: 10px;
  font-size: 25px;
}

.NextButton {
  margin-top: 100px;
  width: 150px;
  height: 40px;
  background-color: #17ac66;
  color: blanchedalmond;
  border-radius: 8px;
  font-size: 20px;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 60px;
  margin-left: auto;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 900px;
}

.UploadImage {
  margin-top: 100px;
  /* width: 150px; */
  height: 50px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 60px;
  font-size: large;
  font-style: oblique;
}
.chooseImageAgain {
  margin-top: 100px;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #17ac66;
  color: blanchedalmond;
  font-size: 20px;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 500;
  cursor: pointer;
  margin-left: 60px;
}

.chooseImageTypeAgain {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #17ac66;
  color: blanchedalmond;
  font-size: 20px;
  border: 0px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 500;
  cursor: pointer;
  margin-left: 60px;
}
